<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @publisher.name %>
</p>

<p><hr></p>

<table>
<thead>
<tr>
<th>Name</th>
<th>Alias</th>
<th>Evil</th>
<th colspan="3"></th>
</tr>
</thead>

<tbody>
  <% @publisher.characters.each do |character| %>
      <tr>
        <td><%= character.name %></td>
        <td><%= character.alias %></td>
        <td><%= character.evil %></td>
        <td><%= link_to 'Show', character %></td>
        <td><%= link_to 'Edit', edit_character_path(character) %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><hr></p>

<p>
  <strong>Note:</strong>
  <%= @publisher.note %>
</p>

<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>
